use_gpu=0
hf_method=1
calib_file_path=refractive_calibration_data/calibration_results/calibration_results.txt
images_path=refractive_data/

mtiff=0

mult=0
mult_exp=0.5

#Since we want to read all images, the "frames" variable is not set to any value
#To read one frame, set "frames" equal to that frame number
#To read frames within a range, set "frames" equal to "<start_frame> , <end_frame>"
#To read frames within a range with an effective frame rate, set "frames" equal to "<start_frame> , <end_frame> , <# of frames to skip>"